html {
    font-size: calc(15px + 0.390625vw);
}

body {
    background-color: #00caff;
    margin: 0;
}

.network-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    all: unset;
    cursor: pointer;
}

button:focus {
    outline: revert;
}

input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

input[type="checkbox" i] {
    float: left
}

input:focus,
select:focus {
    outline: none;
}

input[type="text"],
input[type="number"] {
    border: 1px solid #1e31c4;
    height: 2rem;
    width: 100%;
    padding-left: 1rem;
    font-size: calc(15px + 0.390625vw);
}

::placeholder {
    color: #a6a8b6;
    font-size: calc(10px + 0.390625vw);
}

button,
a {
    width: fit-content;
    background-color: #00caff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

button:hover,
a:hover {
    background-color: orange;
}

button:active,
a:active {
    background-color: orangered;
}

header {
    top: 0;
    position: sticky;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 0 2rem;
    height: 50px;
    align-items: center;
}

nav h2 {
    color: #00caff;
    margin: 0;
}

nav div {
    display: flex;
    gap: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    margin: 1rem;
}

.no-data-msg {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: calc(100vh - 50px);
    font-size: 1.2rem;
    font-weight: bold;
}

.show-card {
    padding: 10px;
    border-radius: 5%;
    border: 1px solid #000;
    background-color: #fff;
    width: 12rem;
    height: 12rem;
}

.uppercase {
    text-transform: uppercase;
}

.card-contents {
    text-align: center;
    font-weight: bold;
}

.container-add-product {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0.1rem;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
}

form legend {
    margin: 0 auto;
}

fieldset {
    border: 0.2px solid black;
    margin: 2rem;
    border-radius: 0.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-group div {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.form-group div label {
    text-align: right;
    font-weight: bold;
    flex: 0.25;
}

.form-group div input,
.form-group div select {
    width: 50%;
    align-items: left;
    flex: 0.75;
}

.form-group div select {
    height: 2rem;
    padding-left: 1rem;
    font-size: calc(15px + 0.390625vw);
}

optgroup {
    color: green;
    font-weight: bold;
}

.information {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.errormsg {
    color: red;
    font-weight: bold;
    margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #6fd3e9;
    }

    .container {
        gap: 1rem;
    }

    .show-card {
        padding: 0;
    }
}